$pink: rgb(255, 41, 255);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background:black;
    background-attachment: fixed;
    font-family: "Sarpanch", sans-serif;
    word-wrap: break-word;
    max-width: 1440px;
}

main {
    color: #fff;
    font-family: "Sarpanch", sans-serif;
    word-wrap: break-word;
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.background {
    position: absolute;
    background-color: black;
    background-attachment: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.intro {
    text-align: center;
    min-height: 100vh;
    h1 {
        margin-top: 1.5em;
        font-size: 8rem;
        color: $pink;
    }
    h2 {
        margin-top: 3em;
    }
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 39em;
    margin: 1em auto 0;
    i {
        list-style-type: none;
        font-size: 2rem;
    }
}

.skill {
    display: flex;
    flex-direction: column;
    width: 6em;
    margin: 1em;
    p {
        margin-top: 0.5em;
    }
}

#html {
    color: #e14b27;
}
#css {
    color: #006ab5;
}
#javascript {
    color: #f3db1d;
}
#sass {
    color: #c56393;
}
#bootstrap {
    color: #543879;
}
#react {
    color: #00d7fe;
}
#node {
    color: #85b858;
}
#git {
    color: #ee4e2e;
}

.projects {
    margin-top: 5em;
    h1 {
        font-size: 2rem;
    }
    h1, h2 {
        text-align: center;
    }
    img {
        margin-top: 1.5em;
        height: auto;
        object-fit: contain;
    }
}

.projects-container {
    margin-top: 6.25em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    min-width: 30%;
    margin: 0 1.25em;
    h2 {
        font-family: "Questrial", sans-serif;
        font-size: 1.2rem;
        &:hover {
            text-decoration: underline;
        }
    }
}

img {
    width: 100%;
    height: 19em;
    &:hover {
        transform: scale(1.05);
    }
}

a:link,
a:active,
a:visited {
    text-decoration: none;
    color: white;
}

.project button {
    display: block;
    margin: 1.8em auto;
    padding: 0.6em;
    width: 10em;
    font-size: 0.8rem;
    border-radius: 0.4em;
    background: black;
    color: white;
    border: none;
    box-shadow: 0 0 2em $pink;
    font-family: "Sarpanch", sans-serif;
    cursor: pointer;
    &:hover {
        background: $pink;
        color: black;
    }
    i {
        position: relative;
        left: -1.4em;
        font-size: 0.8rem;
    }
}

.contact {
    height: 31em;
    h1 {
        text-align: center;
        margin-top: 6em;
        font-size: 2rem;
    }
}

.contact-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-columns: auto auto;
    width: max-content;
    margin: 6.25em auto;
    column-gap: 1.25em;
    i {
        color: $pink;
        margin: auto 1em;
    }
}

@media screen and (max-width: 1440px) {
    .project {
        margin: 1em 1.25em;
    }
}

@media screen and (max-width: 768px) {
    .skills {
        width: 43%;
    }
}